* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0px 0px 0px 0px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
header {
  background: rgba(255, 228, 196, 0.658);
  margin: 0px 0px 20px 0px
}
li{
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}
.row {
  display: flex;
}
.row_f {
  justify-content: space-between;
  line-height: 3;
}
.logo {
  margin: 0px 40px;
}
.header__link {
  margin: 0px 20px;
}
.left-block{
  width: 300px;
}
.blocks {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}
.block {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 25px 40px 25px;
  min-height: 350px;
}
.block img {
  width: 100%;
}
.block__title {

}

.block__desc {
  flex: 1 1 auto
}
.block__btn {
  background: rgb(253, 79, 79);
  border: none;
  padding: 10px 40px;
}

